
.about-div {
    display: grid;
    justify-content: center;

    & > div {
        max-width: 800px;

        h1 {
            margin: 36px 0 !important;
        }

        h2 {
            margin: 24px 0 12px 0 !important;
        }

        p {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}

.logo-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;

    & > * {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        font-size: 29px;
        font-weight: bold;
        line-height: 1;
    }
}