
.shell-panel {

    padding: 6px 12px;
    /*height: 60px;*/
    overflow-y: clip;

    display: grid;
    /*grid-template-columns: auto minmax(200px, 1fr);*/
    grid-template-columns: 1fr;
    grid-gap: 0;
    align-items: baseline;

    input {
        min-width: 100px;
    }

    .error-sign {
        border-radius: 50%;
        color: var(--fnf-error-panel-fg-color);
        background-color: var(--fnf-error-panel-bg-color);
        width: 22px;
        height: 22px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .path-div {
        overflow-x: clip;
        text-align: right;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 12px;
        align-items: center;

        &.has-error {
            grid-template-columns: 1fr auto;
        }
    }

    .error-div {
        color: var(--fnf-footer-error-fg-color);

        height: 22px;
        display: flex;

        line-height: 1;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 8px;

    }

    .font-weight-bold {
        font-weight: bold;
    }
}