<h2
    data-test-id="page-subtitle-h2"
    mat-dialog-title [innerText]="title"></h2>

<mat-dialog-content>
  <div class="dlg-content-div">


    <form
        [formGroup]="formGroup"
        autocomplete="off">

      <mat-form-field>
<!--        <span matTextPrefix>+1 &nbsp;</span>-->
        <input
            (keydown.enter)="onOkClicked()"
            [fnfAutofocus]="true"
            formControlName="text"
            matInput
            placeholder="Pattern"/>
        <mat-icon matSuffix [matMenuTriggerFor]="menuSettings">expand_more</mat-icon>
        <mat-error></mat-error>
      </mat-form-field>

      <mat-menu #menuSettings="matMenu">
        @for (fe of filetypeExtensions; track fe) {
          <button
              (click)="setText(fe)"
              mat-menu-item>{{ fe.label }}</button>
        }
      </mat-menu>

    </form>


  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Cancel
  </button>

  <button
      (click)="onOkClicked()"
      [disabled]="!formGroup.valid"
      color="primary"
      data-test-id="dialog-ok-button"
      mat-raised-button>
    OK
  </button>
</mat-dialog-actions>
