<button
    [matMenuTriggerFor]="menuFileTypes"
    mat-icon-button>
  <mat-icon class="fnf-header-fg-color">expand_more</mat-icon>
</button>

<mat-menu
    #menuFileTypes="matMenu"
    class="fnf-search-template-menu">

  @for (ft of fileTypes; track ft) {
    <button
        (click)="onItemClicked(ft)"
        mat-menu-item>
      <span
          [innerText]="ft.label"
          [matTooltip]="ft.extensions.length > 0 ? ft.extensions.join(', ') : 'No extensions'"></span>
    </button>
  }

</mat-menu>
