<div class="fnf-border-bottom">
  <h2 mat-dialog-title>Theme Editor</h2>

  <!-- Header Section: Theme Selector and Filter -->
  <form [formGroup]="themeForm">
    <div class="theme-header-section">
      <div><!-- spacer --></div>

      <div class="theme-selector-group">
        <button
            [matMenuTriggerFor]="themeMenu"
            color=""
            mat-raised-button>
          {{ themeForm.get('selectedThemeName')?.value || 'Load Theme' }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #themeMenu="matMenu">
          @for (themeName of themeNames; track themeName) {
            <button
                mat-menu-item
                (click)="onThemeSelect(themeName)">
              {{ themeName }}
            </button>
          }
        </mat-menu>
        /* */
      </div>

      <div><!-- spacer --></div>

      <div class="table-filter-group">
        <mat-form-field appearance="outline">
          <mat-label>Table Filter</mat-label>
          <input
              formControlName="tableFilter"
              matInput
              placeholder="Filter theme values...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <!-- Filter Checkboxes Section -->
    <div class="filter-checkboxes-section">
      <!-- Panels Row -->
      <div
          class="filter-row"
          formGroupName="panels">
        <span class="filter-label">Panels:</span>
        <mat-checkbox
            (change)="onAllCheckboxChange('panels', $event.checked)"
            [indeterminate]="isIndeterminate('panels')"
            formControlName="all">all
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('panels')"
            formControlName="activepanel">activepanel
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('panels')"
            formControlName="inactivepanel">inactivepanel
        </mat-checkbox>
      </div>

      <!-- Areas Row -->
      <div
          class="filter-row"
          formGroupName="areas">
        <span class="filter-label">Areas:</span>
        <mat-checkbox
            (change)="onAllCheckboxChange('areas', $event.checked)"
            [indeterminate]="isIndeterminate('areas')"
            formControlName="all">all
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="header">header
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="table">table
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="footer">footer
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="tooltip">tooltip
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="errorPanel">error-panel
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="material">material
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('areas')"
            formControlName="scrollbar">scrollbar
        </mat-checkbox>
      </div>

      <!-- Property Row -->
      <div
          class="filter-row"
          formGroupName="property">
        <span class="filter-label">Property:</span>
        <mat-checkbox
            (change)="onAllCheckboxChange('property', $event.checked)"
            [indeterminate]="isIndeterminate('property')"
            formControlName="all">all
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('property')"
            formControlName="fg">fg
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('property')"
            formControlName="bg">bg
        </mat-checkbox>
        <mat-checkbox
            (change)="onIndividualCheckboxChange('property')"
            formControlName="border">border
        </mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div class="dlg-content-div">

  @if (isLoading) {
    <div class="loading-container">
      <span>Loading theme data...</span>
    </div>
  } @else {


    <!-- Content Section: Theme Values Table -->
    <div class="theme-table-section">
      @if (filteredTableData.length > 0) {


        <table class="custom-table">
          <thead class="table-header">
          <tr>
            <th class="header-cell checkbox-cell">Selected</th>
            <th class="header-cell key-cell">Key</th>
            <th class="header-cell value-cell">Value</th>
          </tr>
          </thead>

          <tbody class="table-body">
            @for (row of filteredTableData; track row.key; let i = $index) {
              <tr
                  class="table-row"
                  [class.selected]="row.selected">
                <td class="body-cell checkbox-cell">
                  <mat-checkbox
                      [(ngModel)]="row.selected"
                      (change)="onRowSelectionChange(i, $event.checked)"></mat-checkbox>
                </td>
                <td class="body-cell key-cell">
                  <span class="key-text">{{ row.key }}</span>
                </td>

                <td class="body-cell value-cell">
                  <app-css-variable-editor
                      [value]="[row]"
                      [presetColors]="presetColors"
                      [themeTableData]="themeTableData"
                      (valueChange)="onValueChange(i, $event)"
                      (colorChange)="onColorChange(i, $event)"></app-css-variable-editor>
                </td>
              </tr>
            }
          <tr>
            <td
                colspan="3"
                style="height: 600px">
              <!-- Empty row for spacing, because of color picker -->
            </td>
          </tr>
          </tbody>
        </table>


      } @else if (selectedTheme) {
        <div class="no-data-message">
          <span>No theme data available</span>
        </div>

      } @else {
        <div class="no-selection-message">
          <span>Please select a theme to edit</span>
        </div>
      }
    </div>

  }
</div>

<div class="dlg-actions-div fnf-header-bg-color fnf-header-fg">

  <div class="multi-edit-div">

    <mat-checkbox
        (change)="onToggleAllSelections($event.checked)"
        [checked]="isAllSelected()"
        [indeterminate]="isIndeterminate()"
        class="selection-toggle-checkbox">
      &nbsp;&nbsp;
    </mat-checkbox>

    @if (selectionCount) {
      Selected: {{ selectionCount }} &nbsp;&nbsp;
      <app-css-variable-editor
          [cpPosition]="'top'"
          [value]="multiValue"
          [presetColors]="presetColors"
          [themeTableData]="themeTableData"
          (valueChange)="onValueChange(-1, $event)"
          (colorChange)="onColorChange(-1, $event)"></app-css-variable-editor>
    }
  </div>

  <div class="spacer"></div>

  <div
      [formGroup]="themeForm"
      class="name-input-wrapper">
    <mat-form-field
        appearance="outline"
        class="name-input">
      <mat-label>Theme name</mat-label>
      <input
          matInput
          formControlName="saveThemeName"
          placeholder="Enter theme name">
      @if (themeForm.get('saveThemeName')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
      }
      @if (themeForm.get('saveThemeName')?.hasError('predefined')) {
        <mat-error>Predefined names are not allowed</mat-error>
      }
    </mat-form-field>
  </div>

  <button
      (click)="onSave()"
      [disabled]="isSaving || isLoading || !selectedTheme || isNameEmpty || isNamePredefined"
      color="primary"
      mat-raised-button
      type="button">
    @if (isSaving) {
      Saving...
    } @else {
      Save
    }
  </button>
</div>

