@if (this.pattern) {
  <div
      (dblclick)="onSearchDblClicked()"
      class="search-div"
      [matTooltipShowDelay]="2000"
      [matTooltip]="tabDataItem?.findData|json">
    Search:&nbsp;"{{ this.pattern }}"
  </div>
}

@if (!this.pattern && fileItem) {
  <div class="breadcrumb-div">
    /
    @for (item of fileItems; track item.dir + '/' + item.base) {
      <div
          (click)="onPathClicked(item)"
          class="file-item-div">{{ item.base }}/
      </div>
    }


    <div class="fav-div">
      <app-fav-toggle [fileItem]="fileItem"></app-fav-toggle>
    </div>

    <div class="file-item-div w-100"></div>
  </div>
}
