
.task-list-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 16px;

  .header {
    display: grid;
      grid-template-columns: auto 120px 1fr 80px;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .body {
    flex: 1;
    overflow-y: auto;
    overflow-x: clip;
    margin-bottom: 4px;

    table {
      width: 100%;
      border-collapse: collapse;

      td {
        padding: 0 8px;
        vertical-align: middle;

        &.col-0 {
          padding-left: 0;
        }

          &.col-2 {
              min-width: 90px;
          }

        .mat-mdc-icon-button.mat-mdc-button-base {
              --mdc-icon-button-state-layer-size: 28px;
              --mat-icon-button-state-layer-size: 28px;
              width: var(--mat-icon-button-state-layer-size);
              height: var(--mat-icon-button-state-layer-size);
              padding: 2px;
          }
      }

      .row {
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }

        td:last-child {
          text-align: right;
          white-space: nowrap;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .footer {
    height: 48px;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    gap: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    button {
      min-width: 100px;
    }
  }
}