<div class="task-list-div">

  <div class="header">
    <span>Overall: {{ queue.status }}</span>
    <app-busy-bee [status]="status" [matTooltip]="queue.status"></app-busy-bee>
    <span>{{ infoText }}</span>
    <span
        #remainingTime
        class="remaining-time"></span>
    <!--    <app-countdown [startTimeInMillis]=""></app-countdown>-->
  </div>

  <div class="body">

    @if (queue.actions.length === 0) {

      <div class="empty-list">
        <span>No actions in queue</span>
      </div>

    } @else {

      <table>
        <thead>
        <tr>
          <td>Grp</td>
          <td>Cmd</td>
          <td>Status</td>
          <td></td>
          <td>Duration</td>
          <td>File</td>
          <td>Actions</td>
        </tr>
        </thead>
        @for (action of queue.actions; track action) {
          <tr class="row">
            <td>{{ action.id }}</td>
            <td>{{ action.filePara.cmd.toLowerCase() }}</td>
            <td>{{ action.status }}</td>
            <td>
              <app-busy-bee
                  [matTooltip]="action.status"
                  [status]="getBeeStatus(action.status)"></app-busy-bee>
            </td>

            @if (action.status === 'PROCESSING') {
              <td>
                <app-countup [startTimeInMillis]="action.startTime"></app-countup>
              </td>
            } @else {
              <td>{{ action.duration | durationFormat }}</td>
            }

            <td [title]="action.size">{{ apiUrlName(action) }}</td>
            <td>
              <button mat-icon-button
                      [disabled]="!canDeleteItem(action)"
                      (click)="onDeleteItemClicked(action)"
                      matTooltip="Delete task">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        }
      </table>
    }
  </div>
  <div class="footer">
    <button
        (click)="onRemoveSuccessedClicked()"
        [disabled]="!queue.buttonStates.clean"
        mat-stroked-button>
      <mat-icon>cleaning_services</mat-icon>
      Clean List
    </button>

    <button
        (click)="onPauseNextClicked()"
        [disabled]="!queue.buttonStates.pause"
        mat-stroked-button>
      <mat-icon>pause</mat-icon>
      Pause
    </button>

    <button
        (click)="onResumeClicked()"
        [disabled]="!queue.buttonStates.resume"
        mat-stroked-button>
      <mat-icon>play_arrow</mat-icon>
      Resume
    </button>

    <button
        (click)="onDeleteAllClicked()"
        [disabled]="!queue.buttonStates.stop"
        mat-stroked-button>
      <mat-icon>stop</mat-icon>
      Stop All
    </button>

  </div>
</div>

