<h2 mat-dialog-title>Change Attributes</h2>

<mat-dialog-content>
  <div class="dlg-content-div">
  <form [formGroup]="formGroup">


    <!-- File Attributes Section -->
    <div class="attributes-section">
      <div class="attributes-grid">
        <mat-checkbox formControlName="archive">Archive</mat-checkbox>
        <mat-checkbox formControlName="readonly">Read only</mat-checkbox>
        <mat-checkbox formControlName="hidden">Hidden</mat-checkbox>
        <mat-checkbox formControlName="system">System</mat-checkbox>
      </div>
    </div>

    <!-- Date/Time Change Section -->
    <mat-checkbox formControlName="changeDateTime">Change date/time</mat-checkbox>
    <br>

    @if (formGroup.get('changeDateTime')?.value) {
      <div class="datetime-div">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input
                matInput
                type="date"
                formControlName="newDate">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Time</mat-label>
            <input
                matInput
                type="time"
                formControlName="newTime">
          </mat-form-field>
      </div>
    }
  </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Cancel
  </button>

  <button
      (click)="onOkClicked()"
      [disabled]="!formGroup.valid"
      color="primary"
      data-test-id="dialog-ok-button"
      mat-raised-button>
    Set Attributes
  </button>
</mat-dialog-actions>