
app-shell-panel {
    .mat-mdc-form-field {

        height: 32px;

        .mdc-line-ripple {
            display: none;
        }

        .mat-mdc-form-field-bottom-align {
            display: none;
        }

        .mat-mdc-form-field-infix {
            height: 32px;
            min-height: 32px;
            padding: 4px 0;
        }

        .mdc-text-field,
        .mdc-text-field--outlined {
            border-color: transparent;
        }

        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
            border-color: transparent !important;
        }
    }

    .mat-mdc-form-field.mat-focused,
    .mat-mdc-form-field:hover {
        .mdc-line-ripple {
            display: block;
        }

        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
            border-color: transparent !important;
        }
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled),
    .mdc-text-field--filled:not(.mdc-text-field--disabled) > div {
        background-color: transparent;
    }

    .mat-mdc-form-field-flex {
        display: grid;
        grid-template-columns: auto auto auto 1fr;
    }

    .mdc-text-field--outlined {
        padding-right: 0;
    }

}
