<h2
    data-test-id="page-subtitle-h2"
    mat-dialog-title>Unpack Archive</h2>

<mat-dialog-content>
  <div class="dlg-content-div">

    <div>
      {{ source }}
    </div>

    <form
        [formGroup]="formGroup"
        autocomplete="off">
      <mat-form-field>
        <mat-select
            (keydown.enter)="onOkClicked()"
            [fnfAutofocus]="true"
            formControlName="target"
            placeholder="Extract to folder name">
          @for (directory of directories; track directory) {
            <mat-option [value]="directory">
              {{ directory }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password (optional)</mat-label>
        <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Enter password if archive is protected">
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Cancel
  </button>

  <button
      (click)="onOkClicked()"
      [disabled]="!formGroup.valid"
      color="primary"
      data-test-id="dialog-ok-button"
      mat-raised-button>
    Extract
  </button>
</mat-dialog-actions>
