
  <div class="color-input-container">
    <div>
      @if (endsWithKey('-color')) {
        <input
            (ngModelChange)="onValueChangeSingle($event)"
            [ngModel]="getColorPreview(rows && rows.length && rows[0] ? rows[0].value : '')"
            type="color">
      }
    </div>
    <input
        (ngModelChange)="onValueChangeSingle($event)"
        [ngModel]="rows && rows.length && rows[0] ? rows[0].value : ''"
        class="color-text-input"
        placeholder="CSS color or variable">
    <button
        class="menu-button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        type="button"
        matIconButton>
      <mat-icon>palette</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (item of presetColors; track $index) {
        <div
            [style.background-color]="item"
            mat-menu-item
            (click)="onMenuItemClicked(item)">
          {{ item }}
        </div>
      }
    </mat-menu>

    <button
        class="menu-button"
        mat-icon-button
        [matMenuTriggerFor]="menu2"
        type="button"
        matIconButton>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      @for (item of allThemeTableData; track $index) {
        @if (item.key && rows && rows.length && rows[0].key !== item.key) {
          <div
              [style.background-color]="'var('+item.key+')'"
              [style.color]="getInvertedColorForVarKey(item.key)"
              mat-menu-item
              (click)="onMenuItemClicked('var('+item.key+')')">
            {{ item.key }}
          </div>
        }
      }
    </mat-menu>

    @if (endsWithKey('-color')) {
      <button
          class="tune-button"
          (click)="openColorChangeDialog()"
          aria-label="Open color transform dialog"
          matIconButton>
        <mat-icon>tune</mat-icon>
      </button>
    }

  </div>
