.color-input-container {
    display: grid;
    grid-template-columns: auto 250px auto auto;
    justify-content: start;
    align-items: center;
    gap: 0;
    position: relative;

    .color-text-input {
        height: 34px !important;
    }

    & > input[type="color"] {
        height: 40px !important;
        width: 40px;
        padding: 0;
        cursor: pointer;
        border-radius: 3px;
    }

    .color-preview {
        width: 30px;
        height: 36px;
        border: 2px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    .color-input {
        display: inline-block;
        vertical-align: middle;
        min-width: 200px;
    }
}

.actions {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    .tune-button {
        width: 24px;
    }
}
