
.mat-mdc-dialog-content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;

    form {
        height: 100%;
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-gap: 12px;
        align-items: start;
        align-content: start;

        &.replacements-checked.ai-mode,
        &.ai-mode {
            grid-template-rows: auto 0  1fr;

            div.row-1 {
                visibility: hidden;
                height: 0;
                overflow: clip;
            }
        }

        & > div {
            height: 100%;
            width: 100%;
        }

        .row-0 {
            display: flex;
            gap: 36px;
            align-items: center;

            .fetch-ai-spinner {
                width: 36px;
                height: 36px;
            }
        }

        .row-1 {
            display: grid;
            grid-template-columns:  minmax(100px, 300px) 200px 200px 200px 200px;
            grid-gap: 12px;
            align-items: center;
        }
        .row-6 {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr;
        }
    }
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.target-dir-field {
    width: 250px;
}
.group-files-table{
    height: 100%;
}
.mat-mdc-form-field {
    /*width: 100%;*/
}

.mat-mdc-dialog-actions {
    justify-content: flex-end;

    .mdc-button {
        min-width: 200px;
    }
}


