
.dlg-content-div {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 24px;
    align-items: center;
}


.mat-mdc-form-field {
    width: 100%;
}

.mat-mdc-checkbox {
    margin-top: 24px;
}

.mat-mdc-dialog-actions {

    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 12px;

    .mdc-button {
        min-width: 120px;
    }
}

.glob-pattern-info {
    text-align: left;
    margin-right: auto;
}

