<h2
    data-test-id="page-subtitle-h2"
    mat-dialog-title>Call Action</h2>

<mat-dialog-content>
  <div class="dlg-content-div">


    <form
        [formGroup]="formGroup">


      <mat-form-field class="example-full-width">

        <input
            (keydown.enter)="onOkClicked()"
            (keyup)="onKeyup($event)"
            [fnfAutofocus]="true"
            [matAutocomplete]="auto"
            formControlName="target"
            matInput
            placeholder="Enter command"
            type="text">

        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onOptionSelected($event)"
            [autoSelectActiveOption]="auto"
            [displayWith]="displayFn"
            autoActiveFirstOption>

          @for (option of filteredOptions; track option) {
            <mat-option
                [value]="option"
                [innerText]="option"></mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <div>
        @if (hasError) {
          <mat-error [innerText]="errorMesasage"></mat-error>
        }
      </div>
    </form>


  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Cancel
  </button>

  <button
      (click)="onOkClicked()"
      [disabled]="!formGroup.valid"
      color="primary"
      data-test-id="dialog-ok-button"
      mat-raised-button>
    Call
  </button>
</mat-dialog-actions>
