<h2 mat-dialog-title>Setup</h2>

<mat-dialog-content>
  <div class="dlg-content-div">
    @if (isLoading) {
      <div class="loading-container">
        <span>Loading setup data...</span>
      </div>
    } @else {
      <form
          [formGroup]="setupForm"
          (ngSubmit)="onSave()">
        <div class="form-section">
          <h3>Window Behavior</h3>

          <div class="form-group">
            <mat-checkbox
                formControlName="openAboutInNewWindow"
                [disabled]="isSaving">
              Open "About" in a new window
            </mat-checkbox>
          </div>

          <div class="form-group">
            <mat-checkbox
                formControlName="openSetupInNewWindow"
                [disabled]="isSaving">
              Open "Setup" in a new window
            </mat-checkbox>
          </div>

          <div class="form-group">
            <mat-checkbox
                formControlName="openServerShellInNewWindow"
                [disabled]="isSaving">
              Open "Server Shell" in a new window
            </mat-checkbox>
          </div>

          <div class="form-group">
            <mat-checkbox
                formControlName="openManageShortcutsInNewWindow"
                [disabled]="isSaving">
              Open "Manage Shortcuts" in a new window
            </mat-checkbox>
          </div>
        </div>

        <div class="form-section">
          <h3>Display Options</h3>

          <div class="form-group">
            <mat-checkbox
                formControlName="loadFolderSizeAfterSelection"
                [disabled]="isSaving">
              Load folder size after selection
            </mat-checkbox>
          </div>

          <div class="form-group">
            <mat-checkbox
                formControlName="condensedPresentationStyle"
                [disabled]="isSaving">
              Condensed presentation style
            </mat-checkbox>
          </div>
        </div>
      </form>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="onClearLocalStorage()"
      [disabled]="isSaving">
    Clear Local Storage
  </button>

  <div class="spacer"></div>

  <button
      type="button"
      mat-raised-button
      (click)="onCancel()"
      [disabled]="isSaving">
    Cancel
  </button>

  <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="isSaving || isLoading || !setupForm.valid">
    @if (isSaving) {
      Saving...
    } @else {
      Save
    }
  </button>
</mat-dialog-actions>