<div class="fnf-header-bg-color fnf-header-fg">
  <h2 mat-dialog-title>Setup</h2>
</div>


<div class="dlg-content-div">
  @if (isLoading) {
    <div class="loading-container">
      <span>Loading setup data...</span>
    </div>
  } @else {
    <form
        [formGroup]="setupForm"
        (ngSubmit)="onSave()">
      <div class="form-section">
        <h3>Window Behavior</h3>

        <div class="form-group">
          <mat-checkbox
              formControlName="openAboutInNewWindow"
              [disabled]="isSaving">
            Open "About" in a new window
          </mat-checkbox>
        </div>

        <div class="form-group">
          <mat-checkbox
              formControlName="openSetupInNewWindow"
              [disabled]="isSaving">
            Open "Setup" in a new window
          </mat-checkbox>
        </div>

        <div class="form-group">
          <mat-checkbox
              formControlName="openServerShellInNewWindow"
              [disabled]="isSaving">
            Open "Server Shell" in a new window
          </mat-checkbox>
        </div>

        <div class="form-group">
          <mat-checkbox
              formControlName="openManageShortcutsInNewWindow"
              [disabled]="isSaving">
            Open "Manage Shortcuts" in a new window
          </mat-checkbox>
        </div>
      </div>

      <div class="form-section">
        <h3>Display Options</h3>

        <div class="form-group">
          <mat-checkbox
              formControlName="loadFolderSizeAfterSelection"
              [disabled]="isSaving">
            Load folder size after selection
          </mat-checkbox>
        </div>

        <div class="form-group">
          <mat-checkbox
              formControlName="condensedPresentationStyle"
              [disabled]="isSaving">
            Condensed presentation style
          </mat-checkbox>
        </div>
      </div>
    </form>
  }
</div>


<div class="dlg-actions-div fnf-header-bg-color fnf-header-fg">
  <button
      (click)="onClearLocalStorage()"
      [disabled]="isSaving"
      mat-raised-button
      type="button">
    Clear Local Storage
  </button>

  <div class="spacer"></div>

  <button
      (click)="onCancel()"
      [disabled]="isSaving"
      mat-raised-button
      type="button">
    Cancel
  </button>

  <button
      (click)="onSave()"
      [disabled]="isSaving || isLoading || !setupForm.valid"
      color="primary"
      mat-raised-button
      type="button">
    @if (isSaving) {
      Saving...
    } @else {
      Save
    }
  </button>
</div>