<h2
    data-test-id="page-subtitle-h2"
    mat-dialog-title>Shortcuts</h2>

<mat-dialog-content>
  <div class="dlg-content-div">

    <div class="filter-container">
      <mat-form-field
          appearance="outline"
          class="filter-input">
        <input
            matInput
            [(ngModel)]="filterText"
            (keyup)="onFilterChange($event)"
            placeholder="Type to filter...">
        <button
            matSuffix
            mat-icon-button
            (click)="resetFilter()"
            class="reset-button"
            aria-label="Reset filter">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <table class="shortcut-table">
      <thead>
      <tr class="shortcut-row header">
        <th class="shortcut-cell">Action</th>
        <th class="shortcut-cell">Label</th>
        <th class="shortcut-cell">Shortcuts</th>
      </tr>
      </thead>
      <tbody>
        @for (item of actionIdLabelShortcuts; track item) {
          <tr class="shortcut-row">
            <td class="shortcut-cell">{{ item.actionId }}</td>
            <td class="shortcut-cell">{{ item.label }}</td>
            <td class="shortcut-cell">
              @for (shortcut of item.shortcuts; track shortcut) {
                <fnf-shortcut [keys]="shortcut.split(' ')"></fnf-shortcut>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
      (click)="onCancelClicked()"
      data-test-id="dialog-cancel-button"
      mat-raised-button>
    Close
  </button>
</mat-dialog-actions>
