/* Material Design 3 Theme Imports */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "css/fnf-css-custom-properties.css";
@import "css/fnf-color-classes.css";
@import "css/fnf-material.css";
@import "css/fnf-scrollbar.css";

@import "css/table/table-color-vars.css";
@import "css/table/table-classes.css";
@import "css/table/table-color-classes.css";
@import "css/table/table-tree.css";
@import "app/feature/main/filetable/file-table.component.global.css";

@import "app/feature/main/header/tabpanel/tabpanel.component.global.css";
@import "app/feature/main/footer/buttonpanel/buttonpanel.component.global.css";
@import "app/feature/main/footer/shellpanel/shell-panel.global.css";
@import "app/feature/main/header/breadcrumb/fav.component.global.css";


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .fnf-rtl-mirror {
        transform: scale(-1, 1);
    }
}
