/* Material Design 3 Theme Imports */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "css/fnf-css-custom-properties.css";
@import "css/fnf-color.css";
@import "css/fnf-color-classes.css";

/*@import "css/table/table-color-vars.css";*/
@import "css/table/main.css";
@import "css/table/table-classes.css";
@import "css/table/table-color-classes.css";
@import "css/table/table-tree.css";

@import "css/fnf-css-custom-properties.css";
@import "css/fnf-color-classes.css";
@import "css/fnf-color.css";
@import "css/fnf-material.css";
@import "css/tabpanel.component.global.css";
@import "css/file-table.component.global.css";
@import "css/buttonpanel.component.global.css";
@import "css/fnf-scrollbar.css";

@import "app/feature/main/footer/shellpanel/shell-panel.global.css";


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
            180deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
            90deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .fnf-rtl-mirror {
        transform: scale(-1, 1);
    }


}
