
<guiexpert-table
    (mouseClicked)="onMouseClicked($event)"
    (tableReady)="onTableReady($event)"

    [debounceMouseClickDelay]="150"
    [tableModel]="tableModel"
    [tableOptions]="tableOptions"
    class="ge-table file-table"></guiexpert-table>

<!--(keyup)="onKeyUp($event)"-->
<!--(keydown)="onKeyDown($event)"-->



<!--div style="top:-40px;position:relative;">
  <button (click)="testAdd()">add</button>
  <button (click)="testUnlink()">unlink</button>
  <button (click)="testUnselect()">unselect</button>
  <button (click)="testSelect()">select</button>
</div-->