<div
    class="server-shell-div"
    [class.slide-out-right]="isAnimatingOut"
    [class.slide-in-right]="isAnimatingIn"
    [class.animate-in]="!isAnimatingIn">


  <app-servershell-out
      [displayText]="displayText"></app-servershell-out>


  <div class="footer-div">
    <mat-form-field
        appearance="fill">

      <div
          matPrefix
          class="path-div"
          [class.has-error]="errorMsg">
        <div>{{ path }}&gt;</div>
        @if (errorMsg) {
          <div class="error-sign">!</div>
        }
      </div>

      <input
          matInput
          (focusin)="onFocusIn()"
          (focusout)="onFocusOut()"
          (keydown)="onKeyDown($event)"

          [fnfAutofocus]="true"

          (ngModelChange)="onTextChange()"
          [matTooltip]="errorMsg"
          [(ngModel)]="text"
          [placeholder]="'Enter shell command'"
          [class.font-weight-bold]="hasFocus"
          [class.fnf-warn-fg]="errorMsg"
          [matAutocomplete]="auto"/>

      @if (text) {
        <button
            matSuffix
            matIconButton
            aria-label="Clear"
            title="Clear"
            (click)="text=''">
          <mat-icon>close</mat-icon>
        </button>
      }

      <mat-autocomplete #auto="matAutocomplete">
        @for (command of filteredCommands; track command) {
          <mat-option
              [value]="command"
              (click)="onOptionSelected(command)">
            {{ command }}
          </mat-option>
        }
      </mat-autocomplete>

      @if (errorMsg) {
        <div
            matSuffix
            class="error-div fnf-footer-error-fg-color"
            [innerText]="errorMsg"></div>
      }
    </mat-form-field>

    @if (text) {
      <button
          matSuffix
          matIconButton
          color="primary"
          aria-label="Execute"
          title="Execute"
          (click)="execute()">
        <mat-icon>directions_run</mat-icon>
      </button>
    }
    <button
        type="button"
        class="back-button"
        matButton="outlined"
        title="Close"
        (click)="navigateToFiles()">
      Back to Files
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>


</div>
