@import "fnf-css-custom-properties.css";


html, body {
    background: var(--fnf-header-bg-color);
    color: var(--fnf-header-fg-color);
}

fnf-root {

    .fnf-border-right {
        border-right: solid 1px var(--fnf-header-border-color);
    }

    .mat-mdc-tab-header-pagination,
    .fnf-border-bottom {
        border-bottom: solid 1px var(--fnf-header-border-color) !important;
    }


    .fnf-active-panel {

        .fnf-border-right {
            border-right: solid 1px var(--fnf-activepanel-header-border-color);
        }

        .mat-mdc-tab-header-pagination,
        .fnf-border-bottom {
            border-bottom: solid 1px var(--fnf-activepanel-header-border-color) !important;
        }
    }

}



.fnf-header-bg-color {
    background-color: var(--fnf-header-bg-color);
}

.fnf-header-fg-color {
    color: var(--fnf-header-fg-color);
}


.fnf-header-bg-color .fnf-active-panel .fnf-active-bg-color,
.fnf-footer-fg-color .fnf-active-panel .fnf-active-fg-color,
.fnf-activepanel-header-bg-color {
    background-color: var(--fnf-activepanel-header-bg-color);
}

.fnf-header-fg-color .fnf-active-panel .fnf-active-fg-color,
.fnf-footer-fg-color .fnf-active-panel .fnf-active-fg-color,
.fnf-activepanel-header-fg-color {
    color: var(--fnf-activepanel-header-selected-tab-fg-color);
}


.fnf-header-selected-tab-bg-color {
    background-color: var(--fnf-header-selected-tab-bg-color);
}

.fnf-header-selected-tab-fg-color {
    color: var(--fnf-header-selected-tab-fg-color);
}


.fnf-active-panel .fnf-header-selected-tab-bg-color,
.fnf-activepanel-header-selected-tab-bg-color {
    background-color: var(--fnf-activepanel-header-selected-tab-bg-color);
}

.fnf-active-panel .fnf-header-selected-tab-fg-color,
.fnf-activepanel-header-selected-tab-fg-color {
    color: var(--fnf-activepanel-header-selected-tab-fg-color);
}


.fnf-header-border-color {
    border-color: var(--fnf-header-border-color);
}

.fnf-active-panel .fnf-header-border-color,
.fnf-activepanel-header-border-color {
    border-color: var(--fnf-activepanel-header-border-color);
}


.fnf-table-header-bg-color {
    background-color: var(--fnf-table-header-bg-color);
}

.fnf-activepanel-table-header-bg-color {
    background-color: var(--fnf-activepanel-table-header-bg-color);
}

.fnf-footer-bg-color {
    background-color: var(--fnf-footer-bg-color);
}

.fnf-footer-fg-color {
    color: var(--fnf-footer-fg-color);
}

.fnf-error-panel-fg-color {
    color: var(--fnf-error-panel-fg-color);
}

.fnf-error-panel-bg-color {
    background-color: var(--fnf-error-panel-bg-color);
}

.fnf-footer-error-fg-color {
    color: var(--fnf-footer-error-fg-color);
}


.fnf-shortcut {
    font-size: smaller;
    color: var(--fnf-footer-shortcut-fg-color);
    background-color: var(--fnf-footer-shortcut-bg-color);
    border: solid 4px var(--fnf-footer-shortcut-bg-color);
    border-radius: 4px;
    margin: 0 2px;
    padding: 0 2px;
}

.fnf-primary-fg {
    color: var(--fnf-material-primary-color);
}

.fnf-primary-bg {
    background-color: var(--fnf-material-primary-color);
}

.fnf-secondary-fg {
    color: var(--fnf-material-secondary-color);
}

.fnf-secondary-bg {
    background-color: var(--fnf-material-secondary-color);
}

.fnf-accent-fg {
    color: var(--fnf-material-accent-color);
}

.fnf-accent-bg {
    background-color: var(--fnf-material-accent-color);
}

.fnf-warn-fg {
    color: var(--fnf-material-warn-color);
}

.fnf-warn-bg {
    background-color: var(--fnf-material-warn-color);
}


.fnf-dialog-primary {
    --mat-dialog-subhead-color: var(--fnf-dialog-primary-fg-color);
    --mat-sys-on-surface: var(--fnf-dialog-primary-fg-color);
    --mat-dialog-supporting-text-color: var(--fnf-dialog-primary-fg-color);
    --mat-sys-on-surface-variant: var(--fnf-dialog-primary-fg-color);

    --mat-dialog-container-color: var(--fnf-dialog-primary-bg-color);
    --mat-sys-surface: var(--fnf-dialog-primary-bg-color);
}

.fnf-dialog-secondary {
    --mat-dialog-subhead-color: var(--fnf-dialog-secondary-fg-color);
    --mat-sys-on-surface: var(--fnf-dialog-secondary-fg-color);
    --mat-dialog-supporting-text-color: var(--fnf-dialog-secondary-fg-color);
    --mat-sys-on-surface-variant: var(--fnf-dialog-secondary-fg-color);

    --mat-dialog-container-color: var(--fnf-dialog-secondary-bg-color);
    --mat-sys-surface: var(--fnf-dialog-secondary-bg-color);
}

.fnf-dialog-primary,
.fnf-dialog-secondary {
    --xxx: var(--fnf-dialog-input-border-color);
    --xxx: var(--fnf-dialog-input-fg-color);
    --xxx: var(--fnf-dialog-input-bg-color);
    /*--xxx: var(--fnf-dialog-input-border-color);*/

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
        border-bottom-color: var(--fnf-dialog-input-border-color);
    }


    .mat-unthemed.mat-mdc-raised-button:not(:disabled) {
        color: var(--fnf-dialog-button-unthemed-fg-color);
        background-color: var(--fnf-dialog-button-unthemed-bg-color);
    }

    .mat-primary.mat-mdc-raised-button:not(:disabled) {
        color: var(--fnf-dialog-button-primary-fg-color);
        background-color: var(--fnf-dialog-button-primary-bg-color);
    }

    .mat-secondary.mat-mdc-raised-button:not(:disabled) {
        color: var(--fnf-dialog-button-secondary-fg-color);
        background-color: var(--fnf-dialog-button-secondary-bg-color);
    }

    .mat-warn.mat-mdc-raised-button:not(:disabled) {
        color: var(--fnf-dialog-button-warn-fg-color);
        background-color: var(--fnf-dialog-button-warn-bg-color);
    }

    .mat-accent.mat-mdc-raised-button:not(:disabled) {
        color: var(--fnf-dialog-button-accent-fg-color);
        background-color: var(--fnf-dialog-button-accent-bg-color);
    }
}
