<div class="button-panel-container">
  <div class="button-panel">

    <!-- Action Buttons -->
    @for (id of currentButtons; track $index) {
      <button
          (click)="onButtonClick(id)"
          [disabled]="!buttonEnableStates[id]"
          [matTooltip]="getShortcutsByAction(id).join(' ')"
          class="panel-button"
          color="primary"
          mat-stroked-button>

        @if (getLabelByAction(id)) {
          <span>&nbsp;{{ getShortLabelByAction(id) }}</span>
        }
        @if (getSimplestShortcutsByAction(id, metaKeys)) {
          <fnf-shortcut
              [keys]="getSimplestShortcutsByAction(id,  metaKeys)"
              style="float: left;margin: 0 12px 0 0;"></fnf-shortcut>
        }
      </button>
    }


    <!-- Main menu -->
    <button
        #trigger="matMenuTrigger"
        [matMenuTriggerFor]="menuAction"
        class="panel-button row-reverse"
        mat-stroked-button>
      Actions
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <mat-menu #menuAction="matMenu">
      <div class="menu-container">
        <div>
          <mat-list>
            @for (id of menuItems0; track $index) {
              @if (id === '-') {
                <mat-divider></mat-divider>
              } @else {

                <button
                    (click)="triggerAction(id)"
                    mat-menu-item>
                  {{ getLabelByAction(id) }}
                  <fnf-shortcut [keys]="getShortcutsByAction(id)"></fnf-shortcut>
                </button>
              }
            }
          </mat-list>
        </div>

        <div>
          <mat-list>
            @for (id of menuItems1; track $index) {
              @if (id === '-') {
                <mat-divider></mat-divider>
              } @else {

                <button
                    (click)="triggerAction(id)"
                    mat-menu-item>
                  {{ getLabelByAction(id) }}
                  <fnf-shortcut [keys]="getShortcutsByAction(id)"></fnf-shortcut>
                </button>
              }
            }
          </mat-list>
        </div>

        <div>
          <mat-list>
            @for (id of menuItems2; track $index) {
              @if (id === '-') {
                <mat-divider></mat-divider>
              } @else {

                <button
                    (click)="triggerAction(id)"
                    mat-menu-item>
                  {{ getLabelByAction(id) }}
                  <fnf-shortcut [keys]="getShortcutsByAction(id)"></fnf-shortcut>
                </button>
              }
            }
          </mat-list>
        </div>

        <div>
          <mat-list>
            @for (id of menuItems3; track $index) {
              @if (id === '-') {
                <mat-divider></mat-divider>
              } @else {

                <button
                    (click)="triggerAction(id)"
                    mat-menu-item>
                  {{ getLabelByAction(id) }}
                  <fnf-shortcut [keys]="getShortcutsByAction(id)"></fnf-shortcut>
                </button>
              }
            }
            <mat-divider></mat-divider>

            @for (tool of tools; track $index) {
              <button
                  mat-menu-item
                  (click)="onToolClicked(tool)">{{ tool.label }}
                <fnf-shortcut [keys]="getShortcutAsLabelTokens(tool.shortcut)"></fnf-shortcut>
              </button>
            }

          </mat-list>
        </div>
      </div>
    </mat-menu>


    <!-- Tasks -->
    <fnf-task-button
        (onClick)="openTaskManager()"
        (onClose)="closeTaskManager()"
        class="panel-button"></fnf-task-button>

    <!-- Look & Feel -->
    <button
        [matMenuTriggerFor]="menuSettings"
        class="panel-button icon-only"
        mat-stroked-button>
      <mat-icon>palette</mat-icon>
    </button>
    <mat-menu #menuSettings="matMenu">
      @for (th of themeCustomNames; track $index) {
        <button
            (click)="setTheme(th)"
            mat-menu-item>
          L&F {{ th }}
        </button>
      }
      @if (themeCustomNames.length && themeDefaultNames.length) {
        <mat-divider></mat-divider>
      }
      @for (th of themeDefaultNames; track $index) {
        <button
            (click)="setTheme(th)"
            mat-menu-item>
          L&F {{ th }}
        </button>
      }
      <!-- TODO mat-divider></mat-divider>
      <button (click)="openCustomColors()" mat-menu-item>
        Custom Colors...
      </button-->
    </mat-menu>


    <!-- Shortcuts -->
    <button
        (click)="triggerAction('OPEN_SHORTCUT_DLG')"
        class="panel-button icon-only"
        mat-stroked-button>
      <mat-icon>keyboard</mat-icon>
    </button>

    <!-- Debugging -->
    <button
        (click)="triggerAction('PRINT_DEBUG')"
        class="panel-button icon-only"
        mat-stroked-button>
      <mat-icon>bug_report</mat-icon>
    </button>

  </div>
</div>
